/* Здесь вы напишете основную часть стилей страницы.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки
*/

.page {
  min-inline-size: 320px;
  min-block-size: 100dvb;
  font-family: var(--base-font), sans-serif;
  font-variation-settings: "wght" var(--base-weight);
  background-image: 
  repeating-linear-gradient(90deg, #d3d3d3 0 2px, rgb(0 0 0 / 0) 2px 4px), 
  repeating-linear-gradient(180deg, #d3d3d3 0 2px, rgb(0 0 0 / 0) 2px 4px), 
  linear-gradient(180deg, #e7e7e7 0%, #e7e7e7 0.01%, #1a1a1a 100%);
  background-size: cover;
  background-attachment: fixed;
}

.header {
  display: flex;
  justify-content: center;
}

.position_header {
  width: clamp(375px,80vw,700px);
  height: clamp(327px,80vw,368px);
}

.header_block {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 20px;
  align-items: center;
  background-color: white;
  border: solid rgb(0, 0, 0) 2px;
  margin-block: clamp(98px,40%,100px);
}

.title_header {
  font-family: var(--heavy-font), fantasy;
  font-weight: var(--heavy-weight);
  font-size: clamp(3.0625rem, 2.7104rem + 1.5023vw, 4.0625rem);
}

.bottom_title_header {
  font-family: var(--heavy-font), fantasy;
  font-weight: var(--heavy-weight);
  font-size: clamp(0.875rem, 0.6769rem + 0.8451vw, 1.4375rem);
  text-transform: uppercase;
}

.header_window {
 position: fixed;
 width: clamp(341px,50dvb,353px);
 border: solid rgb(0, 0, 0) 2px;
 background-color: white;
 padding: 23px 12px 25px 12px;
}

.window_block {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 25px;
}

.position_window {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  gap: 15px;
  margin-inline: 15px;
}

.window_text {
  text-transform: uppercase;
  line-height: 150%;
  padding: 6px;
}

.close {
  width: clamp(261px, 60vw, 293px);
  height: 38px;
}

.button_element {
  position: relative;
  transition: 0.3s ease;
  border: solid rgb(0, 0, 0) 2px;
  background-color: #FFFFFF;
  outline: none;
  overflow: hidden;
}

.button_element::before {
  content: '';
  position: absolute;
  left: -100%;
  bottom: 0px;
  width: 100%;
  height: 100%;
  transform: translateX(0%);
  transform-origin: left;
  transition: 0.5s ease-in-out;
  background-color: rgb(0, 0, 0);
}

.button_element:hover::before {
 transform: translateX(100%);
}

.button_element:focus-visible {
  box-shadow: 2px 2px rgb(0, 0, 0);
  outline: none;
}

.header_window[open]::backdrop {
  background-color: rgb(0 0 0 / 75%);
}

.window_disk_block {
  width: 39px;
  height: 39px;
}

.disk_window {
  width: 39px;
  height: 39px;
  mix-blend-mode: difference;
}

.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 50px;
}

.card {
  background-color: #FFFFFF;
  border: solid black 2px;
  overflow: hidden;
}

.position {
  width: clamp(375px,80vw,700px);
}

.card_title_block {
  width: clamp(375px,80vw,696px);
  border-bottom: solid rgb(0, 0, 0) 2px;
  padding-bottom: 4px;
  padding-top: 5px;
}

.title {
  font-variation-settings: "wght" var(--title-weight);
  font-size: var(--base-size);
  margin: 0px 10px 0px 10px;
}

.block_image {
  position: relative;
}

.card__image {
  width: clamp(371px, 90vw, 696px);
  height: clamp(371px, 100vw, 696px);
  object-fit: cover;
  object-position: right;
  border-bottom: solid rgb(0, 0, 0) 2px;
}

.filter_silver {
  filter: sepia(50%)  grayscale(0.6) ;
}

.filter_bright {
  filter: brightness(250%);
}

.filter_scarlet {
  filter: hue-rotate(-340deg);
}

.filter_green {
  filter: invert(0.9);
}

.filter_black {
  filter: grayscale(0.9) sepia(80%);
}

.filter_blur {
  filter: blur(3px);
}

.filter_pink {
  filter: hue-rotate(-290deg) opacity(0.7) blur(2px);
}

.lable {
  position: absolute; 
  left: 25px;
  top: 5px;
  opacity: 50%;
  text-shadow: 1px 1px #FFFFFF;
  mix-blend-mode: hard-light;
  font-family: var(--heavy-font), fantasy;
  font-weight: var(--heavy-weigh);
  font-size: 14px;
  padding: 20px 25px 0 clamp(224px, 50vw, 550px);
  z-index: 2;
}

.card_text {
  display: flex;
  flex-direction: column;
  font-size: var(--base-size);
  gap: 25px;
  margin: 22.5px 25px 25px 25px;
  padding-inline-end: 14px;
}

.text {
  line-height: 21px;
}

.buttons {
  display: flex;
  justify-content: right;
  align-items: center;
  margin-right: 25px;
  margin-bottom: 25px;
  gap: 6.5px;
}

.card__like-button {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 130px;
  height: 38px;
}

.card__icon-button {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #FFFFFF;
  border: solid transparent 2px;
  width: 38px;
  height: 38px;
  outline: none;
  transition: 0.3s ease;
  padding: 0;
}

.card__icon-button:focus {
  border: solid rgb(0, 0, 0) 2px;
  outline: none;
}

.like-icon {
  width: 38px;
  height: 38px;
}

.like-icon.is-liked {
  transform-origin: center;
  animation: scale_animation 0.3s ease-in 0.1s;
}
  
.like-icon:hover .core {
  fill: rgb(0, 0, 0);
  transition: fill linear 0.3s 0.03s;
}

.like-icon:hover .main-body {
  fill: rgb(0, 0, 0);
  transition: fill linear 0.3s 0.05s;
}

.like-icon:active .core {
  fill: rgb(255, 0, 0);
  transition: fill linear 0.3s 0.03s;
}

.like-icon:active .main-body {
  fill: rgb(255, 0, 0);
  transition: fill linear 0.3s 0.05s;
}

.like-icon.is-liked .core{
  fill: rgb(255, 0, 0);
  transition: fill linear 0.3s;
}

.like-icon.is-liked .main-body{
  fill: rgb(255, 0, 0);
  transition: fill linear 0.3s 0.05s;
}

.like-icon.is-liked .contour{
  fill: rgb(255, 0, 0);
  transition: fill linear 0.3s 0.06s;
}

.like-icon.is-liked .sparks {
  fill: rgb(255, 0, 0);
  animation: opacity_animation  0.3s ease-in 0.3s;
}

.like-icon:focus {
  border:  none;
  outline: none;
}

.core {
  fill: var(--core-color);
  transition: fill linear 0.3s 0.03s;
}

.main-body {
  fill: var(--main-body-color);
  transition: fill linear 0.3s;
}

.contour  {
  transition: fill linear 0.1s;
}

.sparks {
  opacity: 0;
}

.footer_block {
  width: clamp(306px,50vw,335px);
  height: clamp(55px,100vw,86px);
}

.footer_buttom {
  width: clamp(306px,80vw,335px);;
  height: 55px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  margin-bottom: 100px;
 }

 .disk {
  width: 21px;
  height: 21px;
  mix-blend-mode: difference;
}

.button__text {
  position: relative;
  font-family: var(--heavy-font), fantasy;
  font-weight: var(--heavy-weigh);
  font-size: 14px;
  mix-blend-mode: difference;
  color: #FFFFFF;
}

@supports (text-stroke: 0.8px #FFFFFF) or (-webkit-text-stroke: 0.8px #FFFFFF) {
  .lable {
    -webkit-text-stroke: 0.8px #FFFFFF;
     text-stroke: 0.8px #FFFFFF;
     text-shadow: none;
  }
} 

@media  (width <= 375px) {
  .header_window {
    padding: 23px 19px 25px 19px;;
  }

  .card_text {
    margin-top: 19px;
    padding-inline-end: 5px;
  }

  .footer_buttom {
    height: 84px;
    flex-direction: column;
   }

  .disk {
    width: 28px;
    height: 28px;
  }
}











