/* В этом файле будут храниться все значения переменных в исходном состоянии, а так же их изменения в зависимости от ширины устройства */

:root {
--base-font: 'Inter';
--heavy-font: 'PressStar2P-Regular';
--base-weight: 410;
--title-weight: 715;
--heavy-weight: 400;
--base-size: 18px;
--sparks-color: rgb(255, 0, 0);
--contour-color: rgb(0, 0, 0);
--core-color: transparent;
--main-body-color:  transparent;
--disk-color: rgb(255, 255, 255);
}
